/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    
*/



.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: #a3cca3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.aside
{
    position: fixed;
    top:20%;
    left:0%;
    width: 20%;
    height: 75%;
    background-color: #ffffff;
    text-align: center;

}

.noticia{
    background-color: #ffffff;
    padding: 3px;
    text-align: center;
    color: #a3a3cc;


}

.noticia-izquierda{
    background-color: #ffffff;
    padding: 3px;
    text-align: left;
    color: #a3a3cc;


}

.section
{
    position: fixed;
    top:20%;
    left:20%;
    width: 80%;
    height: 75%;
    background-color: #ffffff;
    overflow-y: scroll;

}

.footer
{
    position: fixed;
    bottom:0;
    left:0;
    width: 100%;
    height: 5%;
    background-color: #8fb38f;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.figure-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.lista {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 10px;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imagen {
    margin: 10px;
    border: 1px solid #ccc;
    padding: 5px;
    width: 512px; 
    text-align: center;
}

.imagen img {
     max-width: 100%;
    max-height: 100%;
    width: auto; 
    height: auto; 
}

.figure-centrado {
    text-align: center;
    margin: 0 auto;
    display: block;
}


.video-archivo {
    max-width: 100%;
    height: auto;
}

.btn-reset,
.btn-submit {
    background-color: #00C6B9;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.form-simple {
    background-color: #fff;
    max-width: 400px;
    margin: 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    margin-right: auto;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    padding-left: 40px;
    line-height: 90px;
    align-content: start;
    transition: color 0.3s ease;
}

.logo:hover{
    color: #668066
}

.nav{
    display: flex;
    justify-content: space-between;
    max-width: 70px;
    margin: 0;
}

.nav-link{
    color:white;
    text-decoration: none;

}

.nav-menu {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.nav-menu-item{
    padding-left: 10px;
    padding-right: 10px;

}

.nav-menu-link:hover{
    color: #668066;
}

.nav-menu-link {
    font-size: 25px;
    margin: 0 10px;
    line-height: 90px;
    width: max-content;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.section-1 {
    width: 100%;
    text-align: center;
    padding: 1%;
    box-sizing: border-box;
    height: 85%;
    overflow-y: scroll;

}
.section-2{

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.titulo-rojo{
    color:#a3a3cc;
    font-size: 25px;
    text-align: start;
    padding-top: 10px;
}

.divisor-gris{
    height: 4px;
    border: none;
    background-color: #ccc;
    margin: 10px 0;
    border-radius: 5px;
}

.divisor-verde{
    height: 4px;
    border: none;
    background-color: #668066;
    margin: 10px 0;
    border-radius: 5px;
}

.article {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:10px;
}
.article-titulo{
    margin-top: 0;
    text-align: center;
}
.article-izquierda {
    text-align: left;
    padding-right: 20px;
}

.article-derecha {
    text-align: left;
    width: 15%
}

.article-figure{
    text-align: center;
    margin: 10px 0;

}

.article-imagen{
    max-height: 250px;
}
.article-caption{

    text-align: center;
}
.article-link{
    margin-left: 10px;
}

.article-texto{
    text-align: left;
    text-align: justify;

}

.tabla {
    margin: 0 auto; /* Esto centrará la tabla horizontalmente */
    border-collapse: collapse; /* Esto combina los bordes de las celdas */
    border-top: 3px solid #a3a3cc; /* Agrega un borde superior de color #a3a3cc */
    border-bottom: 3px solid #a3a3cc; /* Agrega un borde inferior de color #a3a3cc */



}

.columna {
    flex: 1;
    padding: 20px;
}


.columna:last-child {
    flex: 1;
    text-align: center;
}


.boton-lanzamientos {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d6ccff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}



/*CSS DIRECTOS A LAS ETIQUETAS*/

body
{
    font-family: sans-serif;
    padding: 80px 20px 0px;
    background-color: #ffffff;
}

h1{
    text-align: center;
    background-color:black;
    color:white;
}
*
{
    box-sizing: border-box;
    margin: 0;
}
