/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 21 sept. 2023, 8:56:24 p. m.
    Author     : DAVID
*/

body
{
    font-family: sans-serif;
    padding: 80px 20px 0px;
    background-color: bisque;
}

h1{
    text-align: center;
    background-color:black;
    color:white;
}
*
{
    box-sizing: border-box;
    margin: 0;
}

.header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: #ccccff;
}

.aside
{
    position: fixed;
    top:20%;
    left:0%;
    width: 20%;
    height: 75%;
    background-color: #ffcccc;
}

.noticia{
    background-color: #ccffcc;
}

.section
{
    position: fixed;
    top:20%;
    left:20%;
    width: 80%;
    height: 75%;
    background-color: #ff9999;
    overflow-y: scroll;
}

.footer
{
    position: fixed;
    bottom:0;
    left:0;
    width: 100%;
    height: 5%;
    background-color: #9999ff;
    text-align: center;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 90px;
}

.nav{
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}

.nav-link{
    color:white;
    text-decoration: none;
    
}

.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
    
}

.nav-menu-item{
    
}

.nav-menu-link{
    font-size: 50px;
    margin: 0 10px;
    line-height: 90px;
    width: max-content;
    color:white;
    text-decoration: none;
}





